html,body{
    padding: 0;
    margin: 0;
}
.add-event-app{
    display: flex;
    width: 60rem;
    margin: 5rem auto;
    flex-direction: column;
}
.add-event-btn{
    width: 8rem;
    height: 2.5rem;
    background-color: #008cba;
    margin: 1rem auto;
    color: white;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
}
.add-event-btn:hover{
    background-color: #4caf50;
}

.event-list{
    border: 0.2rem solid #e6e2d3;
    border-radius: 0.4rem;
    padding: 1rem;
}
.edit-btn,.delete-btn,.save-btn,.cancel-btn,.update-save,.goBack-update{
    width: 2.5rem;
    margin: 0.2rem;
    cursor: pointer;
}
.edit-btn,.save-btn,.update-save{
    width: 2.5rem;
    margin: 0.2rem;
    background-color: #008cba;
    color: white;
    border: none;
}
.delete-btn,.cancel-btn,.goBack-update{
    width: 2.5rem;
    margin: 0.2rem;
    background-color: #c94c4c;
    color: white;
    border: none;
    border-radius: 0.3rem;
}
.event-actions{
    text-align: center;
    width: 7rem;
}
.event,.add-event{
    align-items: center;
    background-color: #e6e2d3;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    border-radius: 0.3rem;

}
.event-list_head{
    display: flex;
    justify-content: space-around;
}

input{
    width: 7em;
}
.title,.start-date,.end-date{
    width:6rem
}